NODE_ENV=development
PORT=3001
JWT_ACCESS_SECRET=change_me
JWT_ACCESS_EXPIRES_IN=15m
DATABASE_URL=postgresql://growing_nest:growing_nest@localhost:5434/growing_nest?schema=public

# AdminJS Configuration
ADMIN_COOKIE_SECRET=change-this-admin-cookie-secret-key
SESSION_SECRET=change-this-session-secret-key

# Local Storage Configuration
UPLOADS_DIR=./uploads
PUBLIC_BASE_URL=http://localhost:3001
